<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <% include ./head%>

      <form class="" action="/addmessage" method="post">
        <h2>Add Message</h2><br>
        UserName:
        <input type="text" name="userName" value=""><br>
        Title:
        <input type="text" name="msgTitle" value=""><br>
        Message body <br>
        <textarea name="msgBody" rows="8" cols="80"></textarea><br>
        <input type="submit"  value="Submit">
      </form>
  </body>
</html>
