<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include ./head%>
  </head>
  <body>
    <% messages.forEach(function(thing){ %>
      <div class="message">
        <ul style="padding:5px;">
        <h3><%= thing.title %></h3>
          <%= thing.body %> <br>
        </ul>
      </div>
    <% }) %>


  </body>
</html>
